<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class | KFT</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>


    <!-- URL Controller -->
    <script type="text/javascript" src="../../controllers/urlController.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="../../controllers/Teacher/ClassroomController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <form id="uploadForm" enctype="multipart/form-data" method="post">
    <div class="container-fluid" id="topLayout"></div>
    
    <input type="hidden" id="teacherID">
    <input type="hidden" id="sectionID">
    <input type="hidden" id="academicSessionID">
    <input type="hidden" id="classID">
    <input type="hidden" id="groupID">


    <div class="container-fluid" style="padding-top: 2vh;">
        <div class="h3">Section Info<hr></div>
        <dl class="row">
            
            <dt class="col-sm-3">Session</dt>
            <dd class="col-sm-9" id="session_name"></dd>

            <dt class="col-sm-3">Class</dt>
            <dd class="col-sm-9" id="class_name"></dd>

            <dt class="col-sm-3">Section Name</dt>
            <dd class="col-sm-9" id="sec_name"></dd>
          
            <dt class="col-sm-3">Wing</dt>
            <dd class="col-sm-9" id="wing_name"></dd>

            <dt class="col-sm-3">Group</dt>
            <dd class="col-sm-9" id="group_name"></dd>

            <dt class="col-sm-3">Class Teacher</dt>
            <dd class="col-sm-9" id="teacher_name"></dd>
          
        </dl>
        <div><hr></div>
        <dl class="row">
            
            <dt class="col-sm-3">My Subject:</dt>
            <dd class="col-sm-9" id="subject_name"></dd>

            <dt class="col-sm-3">Time: </dt>
            <dd class="col-sm-9" id="class_time"></dd>

        </dl>
        <div><hr></div>
    </div>

    

    <div class="container-fluid" style="padding-top: 2vh; overflow-x: scroll;">
        
        <div class="row">
            <div class="col-4">
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-routine-list" data-bs-toggle="list" href="#list-routine" role="tab" aria-controls="list-routine">Routine</a>
                <a class="list-group-item list-group-item-action" id="list-students-list" data-bs-toggle="list" href="#list-students" role="tab" aria-controls="list-students">Students</a>
                <a class="list-group-item list-group-item-action" id="list-results-list" data-bs-toggle="list" href="#list-results" role="tab" aria-controls="list-results">Results</a>
                <a class="list-group-item list-group-item-action" id="list-files-list" data-bs-toggle="list" href="#list-files" role="tab" aria-controls="list-files">Files</a>
              </div>
            </div>
            <div class="col-8">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-routine" role="tabpanel" aria-labelledby="list-routine-list">
                    <div class="table-responsive">
                        <table class="table table-light" id="routineTable">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Time</th>
                                <th scope="col">Teacher</th>
                              </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="tab-pane fade" id="list-students" role="tabpanel" aria-labelledby="list-students-list">
                    
                    <div class="table-responsive">
                        <table class="table table-light" id="studentsTable">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Student ID</th>
                                <th scope="col">Father Name</th>
                                <th scope="col">Mother Name</th>
                                <th scope="col">Contact</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="list-files" role="tabpanel" aria-labelledby="list-files-list">

                    <div class="input-group mb-2">
                        <input type="file" class="form-control" id="uploaded_file" name="uploaded_file" aria-describedby="uploadFileBTN" aria-label="Upload">
                        <button class="btn btn-danger" type="button" id="uploadFileBTN"><i class="fas fa-upload"></i> Upload</button>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-light" id="filelistTable">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">File Name</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="tab-pane fade" id="list-results" role="tabpanel" aria-labelledby="list-results-list">

                    <div class="form-floating mb-2">
                        <select class="form-select" id="termS" aria-label="Floating label select example">
                            

                        </select>
                        <label for="termS">Term</label>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-light" id="resultsTable">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Student ID</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Term</th>
                                <th scope="col">CT 1</th>
                                <th scope="col">CT 2</th>
                                <th scope="col">Term Final</th>
                                <th scope="col">Total</th>
                                <th scope="col">Remark</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>

                </div>

              </div>
            </div>
          </div>

    </div>


    <!-- Update Modal -->
    <div class="modal fade" id="updateStudentModal" tabindex="-1" aria-labelledby="updateStudentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateStudentModalLabel"><i class="fas fa-pen"></i>&nbsp;Student Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-2">
                        <input type="hidden" id="id">
                        <input type="text" class="form-control" placeholder="Write Subject" id="nameU" readonly>
                        <label for="nameU">Name</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" placeholder="Write ID" id="idU" readonly>
                        <label for="idU">ID</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="sexU" aria-label="Floating label select example" disabled>
                          <option value="Male">MALE</option>
                          <option value="Female">FEMALE</option>
                          <option value="Other">Other</option>
                        </select>
                        <label for="sexU">Sex</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="relU" aria-label="Floating label select example" disabled>
                          <option value="Muslim">MUSLIM</option>
                          <option value="Hindu">HINDU</option>
                          <option value="Christian">CHRISTIAN</option>
                          <option value="Buddha">BUDDHA</option>
                        </select>
                        <label for="relU">Religion</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" placeholder="Write Subject" id="fatherU" readonly>
                        <label for="fatherU">Father's Name</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" placeholder="Write Subject" id="motherU" readonly>
                        <label for="motherU">Mother's Name</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" placeholder="Write Subject" id="contactU" readonly>
                        <label for="contactU">Contact No.</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" placeholder="Write Subject" id="emailU" readonly>
                        <label for="emailU">Email</label>
                    </div>

                    <div class="form-floating mb-2">
                        <textarea class="form-control" placeholder="Leave a comment here" id="pradU" style="height: 100px" readonly></textarea>
                        <label for="pradU">Present Address</label>
                    </div>

                    <div class="form-floating mb-2">
                        <textarea class="form-control" placeholder="Leave a comment here" id="peadU" style="height: 100px" readonly></textarea>
                        <label for="peadU">Permanent Address</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="acU" aria-label="Floating label select example" disabled>
                          
                        </select>
                        <label for="acU">Admission Class</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="agU" aria-label="Floating label select example" disabled>
                          
                        </select>
                        <label for="agU">Admission Group</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="wingU" aria-label="Floating label select example" disabled>
                          
                        </select>
                        <label for="wingU">Wing</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="ccU" aria-label="Floating label select example" disabled>
                          
                        </select>
                        <label for="ccU">Current Class</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="cgU" aria-label="Floating label select example" disabled>
                          
                        </select>
                        <label for="cgU">Current Group</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="statusU" aria-label="Floating label select example" disabled>
                          
                        </select>
                        <label for="statusU">Student Status</label>
                    </div>

                    <div class="mb-2" style="width: calc(100%);" align="center">
                        <img src="" class="img-fluid img-thumbnail rounded-circle" alt="NO DATA FOUND" id="avatarU" height="200" width="200">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                   
                </div>
            </div>
        </div>
    </div>

    <!-- Update Modal -->
    <div class="modal fade" id="addStudentResultModal" tabindex="-1" aria-labelledby="addStudentResultModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addStudentResultModalLabel"><i class="fas fa-pen"></i>&nbsp;Submit Student Result</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="h3">Student Info<hr></div>
                        <dl class="row">
                            
                            <dt class="col-sm-3">Student Name</dt>
                            <dd class="col-sm-9" id="student_name"></dd>

                            <dt class="col-sm-3">Student ID</dt>
                            <dd class="col-sm-9" id="student_id"></dd>

                            <dt class="col-sm-3">Subject</dt>
                            <dd class="col-sm-9" id="subject"></dd>
                        </dl>
                    <div><hr></div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="termP" aria-label="Floating label select example">
                          
                        </select>
                        <label for="termP">Term</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="hidden" id="id_r_p">
                        <input type="number" class="form-control" placeholder="Write Mark" id="CT1P">
                        <label for="CT1P">Class Test (1st)</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" placeholder="Write Mark" id="CT2P">
                        <label for="CT2P">Class Test (2nd)</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" placeholder="Write Mark" id="FinalP">
                        <label for="FinalP">Term Final</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="remarkP" aria-label="Floating label select example">
                          
                        </select>
                        <label for="remarkP">Remark</label>
                    </div>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" id="publishBTN" class="btn btn-primary"><i class="fas fa-upload"></i> Publish Result</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Update Modal -->
    <div class="modal fade" id="updateStudentResultModal" tabindex="-1" aria-labelledby="updateStudentResultModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateStudentResultModalLabel"><i class="fas fa-pen"></i>&nbsp;Update Student Result</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="h3">Student Info<hr></div>
                        <dl class="row">
                            
                            <dt class="col-sm-3">Student Name</dt>
                            <dd class="col-sm-9" id="student_name_u"></dd>

                            <dt class="col-sm-3">Student ID</dt>
                            <dd class="col-sm-9" id="student_id_u"></dd>

                            <dt class="col-sm-3">Subject</dt>
                            <dd class="col-sm-9" id="subject_u"></dd>
                        </dl>
                    <div><hr></div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="termU" aria-label="Floating label select example">
                          
                        </select>
                        <label for="termU">Term</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="hidden" id="id_r_u">
                        <input type="hidden" id="student_i_r_u">
                        <input type="number" class="form-control" placeholder="Write Mark" id="CT1U">
                        <label for="CT1U">Class Test (1st)</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" placeholder="Write Mark" id="CT2U">
                        <label for="CT2U">Class Test (2nd)</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" placeholder="Write Mark" id="FinalU">
                        <label for="FinalU">Term Final</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="remarkU" aria-label="Floating label select example">
                          
                        </select>
                        <label for="remarkU">Remark</label>
                    </div>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" id="updateBTN" class="btn btn-primary"><i class="fas fa-edit"></i> Update Result</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>

    </form>
</body>

</html>
