<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher-Dash | Profile</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>


    <!-- URL Controller -->
    <script type="text/javascript" src="../../controllers/urlController.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="../../controllers/Teacher/ProfileController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"></div>
    
    <div class="container-fluid" align="center">
        <div class="card" style="width: 90%;">
            <div align="center" style="padding-top: 3vh;">
                <img src="" class="img-fluid img-thumbnail rounded-circle" alt="..." id="avater" height="200" width="200">
            </div>

            <div class="card-body">
              <h5 class="card-title" id="name">Card title</h5>
              <div align="left">
                  <table class="justify-content-start table-responsive table-sm">
                      <tbody>
                          <tr>
                              <td><p class="card-text text-start">Designation:   </p></td>
                              <td><span class="fw-bold" id="designation"></span></td>
                          </tr>
                          <tr>
                              <td><p class="card-text text-start">Salary:   </p></td>
                              <td><span class="fw-bold" id="salary"></span></td>
                          </tr>
                          <tr>
                            <td><p class="card-text text-start">File No.:   </p></td>
                            <td><span class="fw-bold" id="file"></span></td>
                        </tr>
                        <tr>
                            <td><p class="card-text text-start">Email:   </p></td>
                            <td><span class="fw-bold" id="email"></span></td>
                        </tr>
                        <tr>
                            <td><p class="card-text text-start">Contact:   </p></td>
                            <td><span class="fw-bold" id="contact"></span></td>
                        </tr>
                        <tr>
                            <td><p class="card-text text-start">Sex:   </p></td>
                            <td><span class="fw-bold" id="sex"></span></td>
                        </tr>
                        <tr>
                            <td><p class="card-text text-start">Blood Group:   </p></td>
                            <td><span class="fw-bold" id="bg"></span></td>
                        </tr>
                        <tr>
                            <td><p class="card-text text-start">Religion:   </p></td>
                            <td><span class="fw-bold" id="rel"></span></td>
                        </tr>
                        <tr>
                            <td><p class="card-text text-start">Father's Name:   </p></td>
                            <td><span class="fw-bold" id="fname"></span></td>
                        </tr>
                        <tr>
                            <td><p class="card-text text-start">Mother's Name:   </p></td>
                            <td><span class="fw-bold" id="mname"></span></td>
                        </tr>
                        <tr>
                            <td><p class="card-text text-start">Present Address:   </p></td>
                            <td><span class="fw-bold" id="pra"></span></td>
                        </tr>
                        <tr>
                            <td><p class="card-text text-start">Permanent Address:   </p></td>
                            <td><span class="fw-bold" id="pea"></span></td>
                        </tr>
                      </tbody>
                  </table>
              </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
