<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section & Classes | KFT</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>


    <!-- URL Controller -->
    <script type="text/javascript" src="../../controllers/urlController.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="../../controllers/Teacher/Section&ClassController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"></div>
    
    <input type="hidden" id="teacherID">
    <div class="container-fluid" style="padding-top: 2vh;">
        <div align="center">
            <div class="form-floating mb-lg-5" style="width: 50%;">
                <select class="form-select" id="session" aria-label="Floating label select example">
                    
                </select>
                <label for="session">Session</label>
            </div>
        </div>

        <div class="h3">My Section<hr></div>

        <div class="table-responsive">
            <table class="table table-responsive-sm table-success table-striped" id="secTable">
                <thead>
                    <th>#</th>
                    <th>Class</th>
                    <th>Section</th>
                    <th>Wing</th>
                    <th>Group</th>
                    <th></th>
                </thead>
                <tbody class="table-light">
    
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 8vh;">
        <div class="h3">My Schedule<hr></div>
        
        <div class="table-responsive">
            <table class="table table-responsive-sm table-success table-striped" id="schTable">
                <thead>
                    <th>#</th>
                    <th>Class</th>
                    <th>Section</th>
                    <th>Subject</th>
                    <th>Time</th>
                    <th>Wing</th>
                    <th>Group</th>
                    <th></th>
                </thead>
                <tbody class="table-light">
    
                </tbody>
            </table>
        </div>
        
    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
