<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Management | KFT</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">
    

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>


    <!-- URL Controller -->
    <script type="text/javascript" src="../../controllers/urlController.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="../../controllers/Admin/AcademicManagementController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"><!-- Added Through Controller (./controllers/Public/SignInController.js) --></div>
    
    <div class="container-fluid">

        <nav id="navbar-option" class="navbar navbar-dark bg-dark px-3">
            <a class="navbar-brand" href="#">Academic Management</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#acadenic_classes">Manage Academic Classes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#acadenic_sessions">Manage Academic Sessions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#acadenic_subjects">Manage Academic Subjects</a>
              </li>
            </ul>
        </nav>
        <br>
        <br>

          <div data-bs-spy="scroll" data-bs-target="#navbar-option" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <h4 id="acadenic_classes">Academic Classes</h4>
            <div class="container-fluid">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="form-floating form-control">
                            <input type="text" class="form-control" placeholder="Write Session Name" id="class_nameP">
                            <label for="class_nameP">Class Name</label>
                        </div>
                        <button class="btn btn-success" id="addClassBTN"><i class="fas fa-plus"></i> ADD</button>
                      </div>
                </div>
        
                <div class="table-responsive" style="padding-top: 2vh;">
                    <table class="table table-sm table-striped" id="classTable">
                        <thead class="table-dark">
                          <th>#</th>
                          <th>Class Name</th>
                          <th></th>
                        </thead>
                        <tbody class="table-light">
        
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <br>


            <h4 id="acadenic_sessions">Academic Sessions</h4>
            <div class="container-fluid">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="form-floating form-control">
                            <input type="text" class="form-control" placeholder="Write Session Name" id="year_nameP">
                            <label for="year_nameP">Session Name</label>
                        </div>
                        <div class="form-floating form-control">
                            <select class="form-select" id="session_statusP" aria-label="Floating label select example">
                              
                            </select>
                            <label for="session_statusP">Session Status</label>
                        </div>
                        <button class="btn btn-success" id="addSessionBTN"><i class="fas fa-plus"></i> ADD</button>
                      </div>
                </div>
                <div class="input-group mb-0">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    <input type="text" id="search" class="form-control" placeholder="Search By Session Name" aria-label="Search By Session Name" aria-describedby="basic-addon1">
                </div>
        
                <div class="table-responsive" style="padding-top: 2vh;">
                    <table class="table table-sm table-striped" id="sesssionTable">
                        <thead class="table-dark">
                          <th>#</th>
                          <th>Session Name</th>
                          <th>Status</th>
                          <th></th>
                          <th></th>
                        </thead>
                        <tbody class="table-light">
        
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <br>


            <h4 id="acadenic_subjects">Academic Subjects</h4>
            <div class="container-fluid">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="form-floating form-control">
                            <input type="text" class="form-control" placeholder="Write Subject Code" id="subject_codeP">
                            <label for="subject_codeP">Subject Code</label>
                        </div>
                        <div class="form-floating form-control">
                            <input type="text" class="form-control" placeholder="Write Subject Name" id="subject_nameP">
                            <label for="subject_nameP">Subject Name</label>
                        </div>
                        <div class="form-floating form-control">
                            <select class="form-select" id="groupP" aria-label="Floating label select example">
                              
                            </select>
                            <label for="groupP">Group</label>
                        </div>
                        <button class="btn btn-success" id="addSubjectBTN"><i class="fas fa-plus"></i> ADD</button>
                      </div>
                </div>
                <div class="input-group mb-0">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    <input type="text" id="search2" class="form-control" placeholder="Search By Subject Name" aria-label="Search By Session Name" aria-describedby="basic-addon1">
                </div>
        
                <div class="table-responsive" style="padding-top: 2vh;">
                    <table class="table table-sm table-striped" id="subjectTable">
                        <thead class="table-dark">
                          <th>#</th>
                          <th>Subject Code</th>
                          <th>Subject Name</th>
                          <th>Group</th>
                          <th></th>
                        </thead>
                        <tbody class="table-light">
        
                        </tbody>
                    </table>
                </div>
            </div>
          </div>

    </div>


    <!-- Update Academic Class -->
    <div class="modal fade" id="updateClassModal" tabindex="-1" aria-labelledby="updateClassModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateClassModalLabel"><i class="fas fa-pen"></i>&nbsp;Update Class</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-2">
                        <input type="hidden" id="id_u3">
                        <input type="text" class="form-control" placeholder="Write Class Name" id="class_nameU">
                        <label for="class_nameU">Class Name</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="updateClassBTN" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Academic Session -->
    <div class="modal fade" id="updateAcademicSessionModal" tabindex="-1" aria-labelledby="updateAcademicSessionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAcademicSessionModalLabel"><i class="fas fa-pen"></i>&nbsp;Update Session</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-2">
                        <input type="hidden" id="id_u">
                        <input type="text" class="form-control" placeholder="Write Session Name" id="year_nameU">
                        <label for="year_nameU">Session Name</label>
                    </div>

                    <div class="form-floating form-control">
                        <select class="form-select" id="session_statusU" aria-label="Floating label select example">
                          
                        </select>
                        <label for="session_statusU">Session Status</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="updateSessionBTN" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Academic Session Section -->
    <div class="modal fade" id="updateAcademicSessionSectionModal" tabindex="-1" aria-labelledby="updateAcademicSessionSectionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAcademicSessionSectionModalLabel"><i class="fas fa-pen"></i>&nbsp;Manage Session</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="hidden" id="id_us">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button" id="year_nameUS" readonly>
                        <select class="form-select" id="session_statusUS" aria-label="Floating label select example" disabled>
                        
                        </select>
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto mb-3" align="center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateAddSectionModal">
                            <i class="fas fa-pen"></i>&nbsp; Add New Section
                        </button>
                    </div>

                    <table class="table table-success table-striped" id="secTable">
                        <thead>
                            <th>#</th>
                            <th>Section Name</th>
                            <th>Class</th>
                            <th>Group</th>
                            <th>Wing</th>
                            <th>Class Teacher</th>
                            <th></th>
                        </thead>
                        <tbody class="table-light">
          
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Section Modal -->
    <div class="modal fade" id="updateAddSectionModal" tabindex="-1" aria-labelledby="updateAddSectionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAddSectionModalLabel"><i class="fas fa-pen"></i>&nbsp;Add Section</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-2">
                        <input type="hidden" id="idUS">
                        <input type="text" class="form-control" placeholder="Write Section Name" id="section_nameUS">
                        <label for="section_nameUS">Section Name</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="classUS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="classUS">Class</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="groupUS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="groupUS">Group</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="wingUS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="wingUS">Wing</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="teacherUS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="teacherUS">Class Teacher</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="addSessionSectionBTN" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Section Modal -->
    <div class="modal fade" id="updateAcademicSessionSectionDetailsModal" tabindex="-1" aria-labelledby="updateAcademicSessionSectionDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAcademicSessionSectionModalDetailsLabel"><i class="fas fa-pen"></i>&nbsp;Update Section</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-2">
                        <input type="hidden" id="idPS">
                        <input type="text" class="form-control" placeholder="Write Section Name" id="section_namePS">
                        <label for="section_namePS">Section Name</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="classPS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="classPS">Class</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="groupPS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="groupPS">Group</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="wingPS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="wingPS">Wing</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="teacherPS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="teacherPS">Class Teacher</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="updateSessionSectionBTN" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Update Academic Subject -->
    <div class="modal fade" id="updateAcademicSubjectModal" tabindex="-1" aria-labelledby="updateAcademicSubjectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAcademicSubjectModalLabel"><i class="fas fa-pen"></i>&nbsp;Update Subject</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-2">
                        <input type="hidden" id="id_u2">
                        <input type="text" class="form-control" placeholder="Write Subject Code" id="subject_codeU">
                        <label for="subject_codeU">Subject Code</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" placeholder="Write Subject Name" id="subject_nameU">
                        <label for="subject_nameU">Subject Name</label>
                    </div>

                    <div class="form-floating form-control">
                        <select class="form-select" id="groupU" aria-label="Floating label select example">
                        
                        </select>
                        <label for="groupU">Groups</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="updateSubjectBTN" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Details Academic Session Section -->
    <div class="modal fade" id="detailsAcademicSessionSectionModal" tabindex="-1" aria-labelledby="detailsAcademicSessionSectionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsAcademicSessionSectionModalLabel"><i class="fas fa-pen"></i>&nbsp;Manage Section</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="hidden" id="id_uss">
                        <dl class="row">
                            <dt class="col-sm-3">Section Name</dt>
                            <dd class="col-sm-9" id="sec_name">some</dd>
                          
                            <dt class="col-sm-3">Session</dt>
                            <dd class="col-sm-9" id="session_name">some</dd>

                            <dt class="col-sm-3">Class</dt>
                            <dd class="col-sm-9" id="class_name">some</dd>

                            <dt class="col-sm-3">Wing</dt>
                            <dd class="col-sm-9" id="wing_name">some</dd>

                            <dt class="col-sm-3">Group</dt>
                            <dd class="col-sm-9" id="group_name">some</dd>

                            <dt class="col-sm-3">Class Teacher</dt>
                            <dd class="col-sm-9" id="teacher_name">some</dd>
                          
                        </dl>
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto mb-3" align="center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateAddCourseModal">
                            <i class="fas fa-pen"></i>&nbsp; Add New Course
                        </button>
                    </div>

                    <table class="table table-responsive-sm table-success table-striped" id="subTable">
                        <thead>
                            <th>#</th>
                            <th>Subject</th>
                            <th>Time</th>
                            <th>Teacher</th>
                            <th></th>
                        </thead>
                        <tbody class="table-light">
          
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Section Modal -->
    <div class="modal fade" id="updateAddCourseModal" tabindex="-1" aria-labelledby="updateAddCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAddCourseModalLabel"><i class="fas fa-pen"></i>&nbsp;Add Course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-floating mb-2">
                        <select class="form-select" id="subjectUSS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="subjectUSS">Subject</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" placeholder="Write Subject Name" id="timimgUSS">
                        <label for="timimgUSS">Class Timing</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="teacherUSS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="teacherUSS">Course Teacher</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="addCourseBTN" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Add Section Modal -->
    <div class="modal fade" id="updateCourseModal" tabindex="-1" aria-labelledby="updateCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateCourseModalLabel"><i class="fas fa-pen"></i>&nbsp;Update Course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="id_pss">
                    <div class="form-floating mb-2">
                        <select class="form-select" id="subjectPSS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="subjectPSS">Subject</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" placeholder="Write Subject Name" id="timimgPSS">
                        <label for="timimgPSS">Class Timing</label>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="teacherPSS" aria-label="Floating label select example">
                          
                        </select>
                        <label for="teacherPSS">Course Teacher</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="updateCourseBTN" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
