<div class="container bg-transparent" style="padding-top: 2vh; padding-bottom: 2vh;">
    <hr>
    <span>
      <span class="fw-light">
        <i class="far fa-copyright"></i> Copyright 2021 <span class="fst-italic">KFT</span>. All right reserved.
      </span>
      <br>
      <small class="fw-light">
        <i class="fas fa-code"></i> Developed By- 
        <a class="text-black fst-italic" href="https://tanvirtanjum.github.io/" target="_blank">Tanvir Tanjum Shourav</a>
      </small>
    </span>
</div>