<script type="text/javascript" src="../../controllers/Layouts/_AdminLayoutController.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-center" id="homeTab" href="#">
        <img src="../../assets/image/logo/KFT_School_Logo.png" alt="404" width="50" height="50" class="d-inline-block text-center">
        <label class="h3 justify-content-center">KFT</label>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" id="dashboardTab"><i class="fas fa-chart-line"></i>&nbsp;Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="settingTab" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user-cog"></i>&nbsp;Setting
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-sm-start" aria-labelledby="academicOptionTab">
              <li><a class="dropdown-item" href="#" id="profileTab"><i class="fas fa-user"></i>&nbsp;Profile</a></li>
              <li><a class="dropdown-item" href="#" id="changepassTab"><i class="fas fa-key"></i>&nbsp;Change Password</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <button class="btn btn-dark text-danger" id="logoutTab"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</button>
          </li>
        </ul>
      </div>
    </div>
</nav>
<br>
<br>
<br>
<br>