<div class="container bg-transparent text-light" style="padding-top: 4vh; padding-bottom: 2vh;">
    <hr>
    <small>
      <span>
        <span class="fw-light">
          <i class="far fa-copyright"></i> Copyright 2021 <span class="fst-italic">KFT</span>. All right reserved.
        </span>
        <br>
        <small class="fw-light">
          <i class="fas fa-code"></i> Developed By- 
          <a class="text-light fst-italic" href="https://tanvirtanjum.github.io/" target="_blank">Tanvir Tanjum Shourav</a>
        </small>
      </span>
    </small>
</div>