<!-- URL Controller -->
<script type="text/javascript" src="../../controllers/urlController.js"></script>

<script type="text/javascript" src="../../controllers/Layouts/_SharedLayoutController.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <section class="navbar-brand text-center">
        <img src="../../assets/image/logo/KFT_Trust_Logo.png" alt="404" width="50" height="50" class="d-inline-block text-center">
        <label class="h3 justify-content-center">KFT</label>
      </section>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" id="homeTab"><i class="fas fa-home"></i>&nbsp;Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="kftOptionTab" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- <i class="fas fa-school"></i>&nbsp;About -->
              <i class="fas fa-question-circle"></i>&nbsp;About
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-sm-start" aria-labelledby="kftOptionTab">
              <li><a class="dropdown-item" href="#" id="kftTrustTab"><i class="fas fa-star-of-life fa-spin"></i>&nbsp;KFT Trust</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" id="kftSchoolTab"><i class="fas fa-star-of-life fa-spin"></i>&nbsp;KFT Collegiate School</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="academicOptionTab" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-book-reader"></i>&nbsp;Academic
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-sm-start" aria-labelledby="academicOptionTab">
              <li><a class="dropdown-item" href="#" id="teacherTab"><i class="fas fa-star-of-life fa-spin"></i>&nbsp;Rules & Regulations</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" id="dressTab"><i class="fas fa-star-of-life fa-spin"></i>&nbsp;Dress Code</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="noticeTab"><i class="fas fa-bell"></i>&nbsp;Notice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="admissionTab"><i class="fas fa-user-graduate"></i>&nbsp;Admission</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="#" id="conatctTab"><i class="fas fa-address-book"></i>&nbsp;Contacts</a>
          </li>              
          <li class="nav-item">
            <a class="nav-link" href="#" id="loginTab"><i class="fas fa-user"></i>&nbsp;Login</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<br>
<br>
<br>
<br>