<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password | KFT</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">
    

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>


     <!-- Controller -->
     <script type="text/javascript" src="../../controllers/Common/ChangePasswordController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"><!-- Added Through Controller (./controllers/Public/SignInController.js) --></div>
    
    <div class="container-fluid" style="background-image: url(../../assets/image/illustrations/changepassword_illustration.svg); 
                                min-height: 100%;
                                background-repeat: no-repeat;
                                image-rendering: optimizeQuality;
                                background-size: contain;
                                background-position:right bottom;"
                                align="center">

        <div class="alert alert-info text-start" role="alert" style="width: 20rem;">
            <ul> Your <b>Password</b> must have:
                <li>Minimum <b><em>7</em></b> digits.</li>
                <li><b><em>No Spaces</em></b>. <small>Will ignore spaces.</small></li>
            </ul>
        </div>

        <div class="container-fluid" style="padding-top: 1vh;">
            <div class="card text-center bg-black bg-opacity-50 text-white" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-key"></i> Change Password</h5>
                  <div class="form-floating text-black mb-2">
                    <input type="password" class="form-control" id="oldpass" placeholder="name@example.com">
                    <label for="oldpass"><i class="fas fa-key"></i> Old Password</label>
                  </div>
                  <div class="form-floating text-black mb-2">
                    <input type="password" class="form-control" id="newpass" placeholder="name@example.com">
                    <label for="newpass"><i class="fas fa-key"></i> New Password</label>
                  </div>
                  <div class="form-floating text-black mb-2">
                    <input type="password" class="form-control" id="conpass" placeholder="name@example.com">
                    <label for="conpass"><i class="fas fa-key"></i> Confirm Password</label>
                  </div>
                  <div id="msg" class="alert alert-danger mb-2" role="alert">
                    <small>Something Went Wrong.</small>
                  </div>
                  <button type="button" id="proccedBTN" class="btn btn-success mb-2" style="width: calc(100%);"><i class="fab fa-get-pocket"></i> Apply Changes</button>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
