<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | KFT</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>


     <!-- Controller -->
     <script type="text/javascript" src="../../controllers/Public/HomeController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"><!-- Added Through Controller (./controllers/Public/HomeController.js) --></div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-5" id="backgroudSVG" 
                 style="background-image: url(../../assets/image/illustrations/home_illustration.svg); 
                        height: 65vh;
                        background-repeat: no-repeat;
                        image-rendering: optimizeQuality;
                        background-size: contain;
                        background-position: left center;">
            </div>
            <div id="writeSection" class="col-7 text-center" style="height: 65vh; padding-top: 15%;">
                <p class="h1" id="tittleName"></p>
                <i id="mottoText"></i>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
