<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collegiate School | KFT</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">
    

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>


    <!-- URL Controller -->
    <script type="text/javascript" src="../../controllers/urlController.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="../../controllers/Public/AboutKFTCollegiateSchoolController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"></div>
    
    <div class="container-fluid" style="background-image: url(../../assets/image/illustrations/school_illustration.svg); 
                                        background-repeat: no-repeat;
                                        image-rendering: optimizeQuality;
                                        background-size: contain;
                                        background-position:center bottom;"
                                        align="center">

        <!-- Campus -->
        <div class="container">
            <div id="BuildingsSlide" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active text-center" data-bs-interval="10000">
                    <img src="../../assets/image/campus/KFT_Total_Demo_View.png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="text-white">KFT Campus Demo</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center" data-bs-interval="20000">
                    <img src="../../assets/image/campus/KFT_Partial_Demo_View(1).png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Campus Demo</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center" data-bs-interval="30000">
                    <img src="../../assets/image/campus/KFT_Boys_Wing_Demo_View.png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Boy's Wing Demo</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center" data-bs-interval="40000">
                    <img src="../../assets/image/campus/KFT_Boys_Wing_Demo_View(2).png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Boy's Wing Demo</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center" data-bs-interval="50000">
                    <img src="../../assets/image/campus/KFT_Girls_Wing_Demo_View.png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Girl's Wing Demo</h5>
                    </div>
                  </div>
                  <div class="carousel-item align-content-center text-center" data-bs-interval="60000">
                    <img src="../../assets/image/campus/KFT_Office_Demo_View.png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Office Building Demo</h5>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#BuildingsSlide" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#BuildingsSlide" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>
        <!-- School Details -->
        <div class="container-fluid" align="center">
            <div class="card bg-white bg-opacity-75 text-black">
                <div class="container-fluid " style="width: 14rem; padding-top: 2vh;">
                    <img src="../../assets/image/logo/KFT_School_Logo.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-start">
                  <h2 align="center">কেএফটি কলেজিয়েট স্কুল</h2>
                  <p class="card-text" style="white-space: pre-line; text-align: justify;">
                    শিক্ষাক্ষেত্রে মতলবের ঐতিহ্য ফিরিয়ে আনার লক্ষ্যে একটি যুগােপযােগী ও মানসম্পন্ন শিক্ষা প্রতিষ্ঠান স্থাপন করার প্রয়ােজনীয়তা শিক্ষা সংশ্লিষ্ট সকলেই অনুভব করছেন। মতলব পৌরসভাধীন ঢাকিরগাঁও মৌজায় প্রায় ৬ (ছয়) একর জমিতে শিক্ষা মন্ত্রণালয়ের ৩০ জুন ২০২১ খ্রি: তারিখ এর স্মারক নং: ৩৭.০০.০০০০.০৭৩.৩৩.০০১.২০-২৯৫ মূলে একই ব্যবস্থাপনায় একটি স্বতন্ত্র বালিকা ও একটি স্বতন্ত্র বালক কলেজিয়েট স্কুল নির্মাণ করা হয়েছে- যার নাম “হাজী আব্দুল কাদের মােল্লা-ফাতেমা বেগম ট্রাস্ট (কেএফটি) কলেজিয়েট স্কুল”। এ শিক্ষা প্রতিষ্ঠানে জানুয়ারি ২০২২ খ্রি: থেকে ষষ্ঠ শ্রেণি হতে দ্বাদশ শ্রেণি পর্যন্ত ইংরেজি ও বাংলা ভার্সনে পাঠদানের শুভ সূচনা হবে, ইনশাআল্লাহ। আপামর জনসাধারণের আর্থিক সক্ষমতা বিবেচনায় রেখে অলাভজনকভাবে এই শিক্ষা প্রতিষ্ঠান পরিচালনার সিদ্ধান্ত নেয়া হয়েছে। ছাত্র-ছাত্রীদের কাছ থেকে শুধু প্রতিষ্ঠান পরিচালনা ব্যয় গ্রহণ করা হবে। ঈমান, আত্মবিশ্বাস, সততা ও সৃজনশীলতাকে আদর্শ মেনে কেএফটি কলেজিয়েট স্কুল’ এগিয়ে যেতে দৃঢ় সংকল্পবদ্ধ।
                    
                    <b>লক্ষ্য ও উদ্দেশ্যঃ</b>
                    প্রতিটি শিক্ষার্থীকে আধুনিক ও বিজ্ঞানমনস্ক, নৈতিক মূল্যবােধ, সামাজিক ও পারিবারিক শিক্ষায় শিক্ষিত, ইংরেজি ভাষায় পারদর্শী, ডিজিটাল বিশ্বের সাথে পরিচিত, শারীরিক ও মানসিকভাবে কর্মক্ষম ও দক্ষ একজন সুনাগরিক হিসেবে গড়ে তােলা এবং প্রত্যেকের আত্মবিশ্বাস, সততা, শৃক্ষলা ও মননশীলতার উৎকর্ষ সাধন।
                    
                    <b>বৈশিষ্ট্যসমূহঃ</b>
                    * জাতীয় শিক্ষাবাের্ডের নিয়ম অনুসরণ করে বাংলাদেশের ক্যাডেট কলেজসমূহের পদ্ধতিতে শিক্ষা কার্যক্রম পরিচালনা। 
                    * দুর্বল শিক্ষার্থীদের জন্য বিনা খরচে অতিরিক্ত পাঠদানের ব্যবস্থা, যেন কোন শিক্ষার্থীকেই আলাদাভাবে প্রাইভেট বা কোচিং-এ যেতে না হয়। 
                    * দরিদ্র, মেধাবী ও প্রতিভাবান শিক্ষার্থীদের ১০০% পর্যন্ত বৃত্তি (ওয়েভার)। 
                    * সম্পূর্ণ ডিজিটাল পদ্ধতিতে পাঠদান পরিচালনার লক্ষ্যে মাল্টিমিডিয়া প্রজেক্টর ও স্ক্রীনসহ সকল আধুনিক ব্যবস্থা। 
                    * একবিংশ শতাব্দীর চ্যালেঞ্জ গ্রহণ করার জন্য পৃথক দুটি ডিজিটাল ইন্সটিটিউটের মাধ্যমে কম্পিউটার প্রশিক্ষণ। 
                    * উচ্চতর শিক্ষাগ্রহণ সহজতর করার জন্য আলাদা দুটি আন্তর্জাতিক ভাষা ইন্সটিটিউটের মাধ্যমে ইংরেজি ও অন্যান্য ভাষা শিক্ষাদান। 
                    * প্রতিটি শ্রেণিকক্ষে গড়ে ৪০ জন শিক্ষার্থীর আসন ব্যবস্থা এবং প্রত্যেক শিক্ষার্থীর জন্য আলাদা ডেস্ক ও চেয়ারের ব্যবস্থা। 
                    * শিক্ষার্থীদের সুনাগরিক রূপে গড়ে তােলার জন্য ধর্মীয় অনুশাসন, মূল্যবােধ, আচার-আচরণ, নীতি-নৈতিকতা ও শিষ্টাচার শিক্ষাদান। 
                    * সাহিত্য ও সাংস্কৃতিক কর্মকাণ্ড, খেলাধূলাসহ বিভিন্ন কো-কারিকুলার ও এক্সট্রাকারিকুলাম কর্মকাণ্ডে ওতপ্রােতভাবে জড়িত করা। 
                    * যাতায়াতের সুবিধার্থে বিভিন্ন রুটে ‘কেএফটি কলেজিয়েট স্কুলের নিজস্ব পরিবহন ব্যবস্থা। 
                    * প্রতিটি ফ্লোরে শিক্ষার্থীদের জন্য বিশুদ্ধ খাবার পানি ও ৪ টি করে টয়লেটের ব্যবস্থা। 
                    * খাবার ও স্টেশনারির তাৎক্ষণিক চাহিদা মেটানাের জন্য দুটি ক্যাম্পাসে আলাদা দুটি ক্যান্টিনের ব্যবস্থা। 
                    * নামাজের জন্য দুটি ক্যাম্পাসে আলাদা দুটি কক্ষের ব্যবস্থা। 
                    * দক্ষ পরিচালনা পর্ষদ ও অভিজ্ঞ উপদেষ্টামণ্ডলী দ্বারা সার্বিক ব্যবস্থাপনা। 
                    * সার্বক্ষণিক প্রাথমিক চিকিৎসা ব্যবস্থা ও একজন এমবিবিএস ডাক্তারের সহযােগিতায় সাপ্তাহিক স্বাস্থ্য সেবা নিশ্চিত করা। 
                    * “জুই মাল্টিপারপাস হল” তৈরি করে বিভিন্ন কো-কারিকুলার ও এক্সট্রাকারিকুলাম কার্যক্রম পরিচালনা।
                  </p>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
