<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trust | KFT</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">
    

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>


    <!-- URL Controller -->
    <script type="text/javascript" src="../../controllers/urlController.js"></script>
    
    <!-- Controller -->
    <script type="text/javascript" src="../../controllers/Public/AboutKFTTrustController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"></div>
    
    <div class="container-fluid" style="background-image: url(../../assets/image/illustrations/trust_illustration.svg); 
                                        background-repeat: no-repeat;
                                        image-rendering: optimizeQuality;
                                        background-size: contain;
                                        background-position:center bottom;"
                                        align="center">

        <!-- KFT -->
        <div class="container">
            <div id="BuildingsSlide" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <!-- <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="5" aria-label="Slide 6"></button> -->
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active text-center" data-bs-interval="10000">
                    <img src="../../assets/image/trust/one.jpg" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="text-white">KFT Trust Officials</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center" data-bs-interval="20000">
                    <img src="../../assets/image/trust/two.jpg" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Trust Officials</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center" data-bs-interval="30000">
                    <img src="../../assets/image/trust/three.jpg" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Trust Officials</h5>
                    </div>
                  </div>
                  <!-- <div class="carousel-item text-center" data-bs-interval="40000">
                    <img src="../../assets/image/campus/KFT_Boys_Wing_Demo_View(2).png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Boy's Wing Demo</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center" data-bs-interval="50000">
                    <img src="../../assets/image/campus/KFT_Girls_Wing_Demo_View.png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Girl's Wing Demo</h5>
                    </div>
                  </div>
                  <div class="carousel-item align-content-center text-center" data-bs-interval="60000">
                    <img src="../../assets/image/campus/KFT_Office_Demo_View.png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Office Building Demo</h5>
                    </div>
                  </div> -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#BuildingsSlide" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#BuildingsSlide" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>
        <!-- Trust Details -->
        <div class="container-fluid" align="center">
            <div class="card bg-white bg-opacity-75 text-black">
                <div class="container-fluid " style="width: 14rem; padding-top: 2vh;">
                    <img src="../../assets/image/logo/KFT_Trust_Logo.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-start">
                  <h2 align="center">কেএফটি-হাজী আব্দুল কাদের মােল্লা-ফাতেমা বেগম ট্রাস্ট</h2>
                  <p class="card-text" style="white-space: pre-line;  text-align: justify;">
                    পিছিয়ে পড়া জনপদের আর্থ সামাজিক উন্নয়ন, শিক্ষা, ক্রীড়া, সাহিত্য ও সাংস্কৃতিক কর্মকাণ্ডকে বেগবান করাসহ একটি উন্নত সমাজ গঠনের দৃঢ় প্রত্যয় নিয়ে ১৮/১০/২০২০ খ্রি: তারিখ চাদপুর জেলার মতলব-এ “কেএফটি-হাজী আব্দুল কাদের মােল্লা-ফাতেমা বেগম ট্রাস্ট” প্রতিষ্ঠিত হয়- যার নিবন্ধন রেজিস্টার অব জয়েন্ট স্টক কোম্পানি, ঢাকায় প্রক্রিয়াধীন।

                    <b>মৌলিক লক্ষ্যসমূহঃ</b>
                    ১) স্কুল, কলেজ ও বিশ্ববিদ্যালয় প্রতিষ্ঠা করে বিজ্ঞান, বাণিজ্য ও কলা শিক্ষার কার্যক্রম গ্রহণ।
                    ২) ছাত্র-ছাত্রীদের উন্নত শিক্ষাদানের জন্য ক্যাডেট কলেজসমূহের পদ্ধতি অনুসরণপূর্বক শিক্ষা প্রতিষ্ঠান পরিচালনা। 
                    ৩) শিক্ষার সার্বিক মান উন্নয়ন ও প্রশিক্ষণের মাধ্যমে বেকার জনগােষ্ঠীর দারিদ্র্য বিমােচন। 
                    ৪) প্রকৌশল বিশ্ববিদ্যালয়, মেডিকেল কলেজ, পাবলিক লাইব্রেরি স্থাপন এবং এগুলাের আওতায় বিভিন্ন প্রতিষ্ঠান, ইনস্টিটিউট প্রতিষ্ঠা-পূর্বক বিভিন্ন প্রশিক্ষণ কর্মসূচী আয়ােজন। 
                    ৫) তথ্যপ্রযুক্তির বিকাশ, উন্নতি ও প্রসারের জন্য কাজ। 
                    ৬) ল্যাঙ্গুয়েজ ল্যাবরেটরি (ভাষা ইন্সটিটিউট) প্রতিষ্ঠার মাধ্যমে ছাত্র-ছাত্রী ও বেকারদের বিভিন্ন ভাষা প্রশিক্ষণ।
                    ৭) দরিদ্র ও মেধাবী ছাত্র-ছাত্রীদের বৃত্তি ।
                    ৮) নৈতিক মূল্যবােধের বিকাশ ও আত্মমর্যাদাবােধ জাগ্রত করে সংশ্লিষ্ট সকলের আত্মবিশ্বাস, সততা, সৃজলা ও মননশীলতা সৃষ্টি। 
                    ৯) বিভিন্ন শিক্ষা প্রতিষ্ঠানের শিক্ষা, সংস্কৃতি ও ক্রীড়ার মান উন্নয়নকল্পে সহযােগিতা।
                    ১০) সাহিত্য, সংস্কৃতি ও ক্রীড়া ক্ষেত্রে উন্নয়নকল্পে বিবিধ কার্যক্রম গ্রহণ ও বাস্তবায়ন। 
                    ১১) সামাজিক পরিবর্তনের প্রেক্ষাপটে বাের্ড অব গভর্নরস কর্তৃক অনুমােদিত জনকল্যাণমূলক ও দাতব্য অন্য যে কোন কাজ। | 
                    ১২) অবহেলিত ও দরিদ্র মানুষের মধ্যে ত্রাণ সামগ্রী বিতরণ।
                    ১৩) পিছিয়ে পড়া জনগােষ্ঠীর উন্নত শিক্ষা ও কর্মদক্ষতা বৃদ্ধির জন্য প্রশিক্ষণের ব্যবস্থা। 
                    ১৪) জনসাধারণকে উপযােগিতামূলক ও হিতকর কার্যক্রম সম্পর্কে অবহিতকরণ। 
                    ১৫) পাঠাগার প্রতিষ্ঠা করে সাধারণ মানুষের মধ্যে পাঠ্যাভ্যাস গড়ে তােলার ব্যাপারে সচেতনতা সৃষ্টি।
                    ১৬) জনসাধারণের মধ্যে সাহিত্য বিষয়ক কার্যক্রম প্রচার। 
                    ১৭)। পথশিশুদের জন্য যে কোন জনহিতকর বা দাতব্য কার্যক্রম পরিচালনা।
                    ১৮) শিক্ষার উপর জাতীয় ও আন্তর্জাতিক পর্যায়ে বিভিন্ন বিষয়ে সম্মেলন, ওয়ার্কশপ, সেমিনার ও সিম্পােজিয়াম আয়ােজন এবং গবেষণামূলক কার্যক্রম পরিচালনা।
                    ১৯) দাতব্য হাসপাতাল প্রতিষ্ঠা করা এবং বিধি অনুযায়ী যে কোন ধরণের সমাজসেবা ও জনকল্যাণমূলক কার্যক্রম পরিচালনা। 
                    ২০) ওয়াকফকৃত সম্পত্তি গ্রহণ ও তা পরিচালনার দায়িত্ব পালন। 
                    ২১) জনসাধারণকে সম্পৃক্ত করে পিছিয়ে পড়া জনগােষ্ঠীকে আলাের পথ দেখানাে।
                  </p>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
