<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trust | KFT</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">
    

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>


     <!-- Controller -->
     <script type="text/javascript" src="../../controllers/Public/AboutKFTTrustController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"></div>
    
    <div class="container-fluid" style="background-image: url(../../assets/image/illustrations/trust_illustration.svg); 
                                        background-repeat: no-repeat;
                                        image-rendering: optimizeQuality;
                                        background-size: contain;
                                        background-position:center bottom;"
                                        align="center">

        <!-- KFT -->
        <div class="container">
            <div id="BuildingsSlide" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <!-- <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#BuildingsSlide" data-bs-slide-to="5" aria-label="Slide 6"></button> -->
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active text-center" data-bs-interval="10000">
                    <img src="../../assets/image/trust/one.jpg" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="text-white">KFT Trust Officials</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center" data-bs-interval="20000">
                    <img src="../../assets/image/trust/two.jpg" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Trust Officials</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center" data-bs-interval="30000">
                    <img src="../../assets/image/trust/three.jpg" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Trust Officials</h5>
                    </div>
                  </div>
                  <!-- <div class="carousel-item text-center" data-bs-interval="40000">
                    <img src="../../assets/image/campus/KFT_Boys_Wing_Demo_View(2).png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Boy's Wing Demo</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center" data-bs-interval="50000">
                    <img src="../../assets/image/campus/KFT_Girls_Wing_Demo_View.png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Girl's Wing Demo</h5>
                    </div>
                  </div>
                  <div class="carousel-item align-content-center text-center" data-bs-interval="60000">
                    <img src="../../assets/image/campus/KFT_Office_Demo_View.png" class="img-fluid img-thumbnail" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white">KFT Office Building Demo</h5>
                    </div>
                  </div> -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#BuildingsSlide" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#BuildingsSlide" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>
        <!-- Trust Details -->
        <div class="container-fluid" align="center">
            <div class="card bg-white bg-opacity-75 text-black">
                <div class="container-fluid " style="width: 14rem; padding-top: 2vh;">
                    <img src="../../assets/image/logo/KFT_Trust_Logo.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-start">
                  <p class="card-text" style="white-space: pre-wrap;">
                      Some quick example text to build on the card title and make up the bulk of the card's content.
                      Some quick example text to build on the card title and make up the bulk of the card's content.
                      Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
