<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | KFT</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">
    

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>


     <!-- Controller -->
     <script type="text/javascript" src="../../controllers/Public/ContactUsController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"></div>
    
    <div class="container-fluid" style="background-image: url(../../assets/image/illustrations/contactus_illustration.svg); 
                                        height: 65vh;
                                        background-repeat: no-repeat;
                                        image-rendering: optimizeQuality;
                                        background-size: contain;
                                        background-position:right center;"
                                        align="center">

    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
