<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | KFT</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">
    

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>


     <!-- Controller -->
     <script type="text/javascript" src="../../controllers/Public/ContactUsController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"></div>
    
    <div class="container-fluid" style="background-image: url(../../assets/image/illustrations/contactus_illustration.svg); 
                                        min-height: 65vh;
                                        background-repeat: no-repeat;
                                        image-rendering: optimizeQuality;
                                        background-size: contain;
                                        background-position:right center;"
                                        align="center">

        <div class="card bg-black bg-opacity-75 text-white" style="width: 75%;">
            <div class="card-body">
                <h3 class="card-title">যােগাযােগ</h3>
                <p class="card-text" style="white-space: pre-line;">
                    কেএফটি কলেজিয়েট স্কুল
                    ঢাকিরগাঁও, মতলব দক্ষিণ, চাঁদপুর। 
                    <i class="fas fa-envelope"></i>&nbsp;&nbsp;<a href="mailto: kft2020bd@gmail.com" target="_blank">kft2020bd@gmail.com</a> 
                    <i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;<a href="tel: +88 01928 517729" target="_blank">+88 01928 517729</a> 
                    <i class="fas fa-map-marked"></i>&nbsp;&nbsp;<a href="https://www.google.com/maps/place/KFT+COLLEGIATE+SCHOOL/@23.3346096,90.6925762,17z/data=!3m1!4b1!4m5!3m4!1s0x3754f9d330fd8a49:0xea83d74992a0fceb!8m2!3d23.3346047!4d90.6947649" target="_blank">Get Location on Google Maps</a>
                </p>
            </div>
            <img src="../../assets/image/Map/KFT MAP.jpg" class="card-img-bottom img-fluid" alt="...">
        </div>

    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
