<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dress Code | KFT</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">
    

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>


    <!-- URL Controller -->
    <script type="text/javascript" src="../../controllers/urlController.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="../../controllers/Public/DressCodeController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"></div>
    
    <div class="container-fluid">

        <p class="h2">Boy's Dress Code</p>
        <div><hr></div>

        <div class="row row-cols-1 row-cols-md-2 g-4">

            <div class="col">
              <div class="card">
                <table class="table table-striped table-responsive">
                    <thead class="just">
                        <th>Sl. No.</th>
                        <th>Description / বর্ণনা</th>
                        <th>Color / রঙ</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Shirt with Shoulder Strap (Half Sleeve)<br>দুই কাঁধে স্ট্রাপসহ শার্ট (হাফ হাতা)</td>
                            <td>Grey/Ash<br>ছাই</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Pant (Full)<br>প্যান্ট (ফুল)</td>
                            <td>Navy Blue<br>নেভি নীল</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Keds<br>কেডস</td>
                            <td>White<br>সাদা</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Belt (Leather)<br>কোমরের বেল্ট (চামড়ার)</td>
                            <td>Black<br>কালাে</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Sweater (Winter)<br>সোয়েটার (শীতকাল)</td>
                            <td>Grey/Ash<br>ছাই</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Tie with Logo</td>
                            <td>Designed by KFT<br>কেএফটি কর্তৃক সরবরাহকৃত</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>ID Card with Ribbon</td>
                            <td>Designed by KFT<br>কেএফটি কর্তৃক সরবরাহকৃত</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Logo<br>লোগো</td>
                            <td>Designed by KFT<br>কেএফটি কর্তৃক সরবরাহকৃত</td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="col" align="center">
                <img src="../../assets/image/dress code/Boy's Dress Code.png" class="card-img-bottom img-fluid" alt="..." style="width: 32vh;">
                <p class="h5">Figure: Boy's Dress Demo</p>
            </div>
            
          </div>

        <div class="mb-lg-4"><br><br></div>


        <p class="h2">Girl's Dress Code</p>
        <div><hr></div>

        <div class="row row-cols-1 row-cols-md-2 g-4">

            <div class="col">
              <div class="card">
                <table class="table table-striped table-responsive">
                    <thead class="just">
                        <th>Sl. No.</th>
                        <th>Description / বর্ণনা</th>
                        <th>Color / রঙ</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Kamij (Half Sleeve) with Collar & Shoulder strap<br>কলার (হাফ হাতা) ও দুই কাঁধে স্ট্রাপসহ কামিজ</td>
                            <td>Grey/Ash<br>ছাই</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Salwar<br>পাজামা</td>
                            <td>Navy Blue<br>নেভি নীল</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Keds<br>কেডস</td>
                            <td>White<br>সাদা</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Belt (Cloth)<br>কোমরের বেল্ট (কাপড়)</td>
                            <td>Navy Blue<br>নেভি নীল</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Sweater (Winter)<br>সোয়েটার (শীতকাল)</td>
                            <td>Grey/Ash<br>ছাই</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Scarf (Orna)<br>স্কার্ফ (ওড়না)</td>
                            <td>Navy Blue<br>নেভি নীল</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Tie with Logo</td>
                            <td>Designed by KFT<br>কেএফটি কর্তৃক সরবরাহকৃত</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>ID Card with Ribbon</td>
                            <td>Designed by KFT<br>কেএফটি কর্তৃক সরবরাহকৃত</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Logo<br>লোগো</td>
                            <td>Designed by KFT<br>কেএফটি কর্তৃক সরবরাহকৃত</td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="col" align="center">
                <img src="../../assets/image/dress code/Girl's Dress Code.png" class="card-img-bottom img-fluid" alt="..." style="width: 32vh;">
                <p class="h5">Figure: Girl's Dress Demo</p>
            </div>
            
          </div>
    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
