<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | KFT</title>

    <meta property="og:image" content="https://kftcs.com/assets/image/logo/KFT_School_Logo_Web_Preview.png"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kftcs.com/views/Public/Home.html"/>
    <meta property="og:title" content="KFT Collegiate School" />
    <meta property="og:description" content="ঢাকিরগাঁও, মতলব দক্ষিণ, চাঁদপুর"/>
    
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/image/logo/KFT_Trust_Logo.ico">

    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../../assets/css/all.css" rel="stylesheet">
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="../../assets/jQueryTyper/jquery.typer.js"></script>
    <script src="../../assets/crypto-js/crypto.js"></script>

    <!-- URL Controller -->
    <script type="text/javascript" src="../../controllers/urlController.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="../../controllers/Public/HomeController.js"></script>
</head>

<body class="bg-secondary bg-opacity-75">
    <div class="container-fluid" id="topLayout"><!-- Added Through Controller (./controllers/Public/HomeController.js) --></div>
    
    <div class="container-fluid">
        <div class="row">
            
            <div id="writeSection" class="col-12 text-center justify-content-end" style="min-height: 15vh; padding-top: 0.5%;">
                
                
            </div>
        </div>
    </div>
    
    <!-- <div class="container-fluide" align="center" style="padding-top: 5vh; height: 100vh;">
        <p class="h2 text-white">Prospectus</p>
        <object data="../../Prospectus.pdf#view=fitH" type="application/pdf" height="100%" width="95%">
            <div id="adobe-dc-view"></div>
            <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
            <script type="text/javascript">
            	document.addEventListener("adobe_dc_view_sdk.ready", function(){ 
            		var adobeDCView = new AdobeDC.View({clientId: "4eb67968ea0844f38cb90801cae59ff9", divId: "adobe-dc-view"});
            		adobeDCView.previewFile({
            			content:{location: {url: "https://kftcs.com/Prospectus.pdf"}},
            			metaData:{fileName: "Prospectus.pdf"}
            		}, {});
            	});
            </script>
        </object>
    </div> -->

    <div class="container-fluide" align="center" style="min-height: 100vh;">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/1.jpg" alt="Error">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/2.jpg" alt="Error">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/3.jpg" alt="Error">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/4.jpg" alt="Error">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/5.jpg" alt="Error">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/6.jpg" alt="Error">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/7.jpg" alt="Error">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/8.jpg" alt="Error">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/9.jpg" alt="Error">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/10.jpg" alt="Error">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/11.jpg" alt="Error">
        <img class="img-fluid pb-1" src="../../assets/image/Prospetus Picture/12.jpg" alt="Error">
    </div>

    <div class="container-fluid text-center" id="bottomLayout"></div>
</body>

</html>
